# Flask
FLASK_ENV=development
SECRET_KEY=APP_SECRET

# Database
DATABASE_URL=URL_TO_DB
SQLALCHEMY_TRACK_MODIFICATIONS=False

# Mail (SMTP Configuration)
MAIL_SERVER=SMTP_Server
MAIL_PORT=PORT
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=EMAIL_USERNAME
MAIL_PASSWORD=PASSWORT
MAIL_DEFAULT_SENDER="Absender <E-Mail Adresse>"